<div *ngIf="form === 0" class="container">
    <form [formGroup]="companyForm" class="form-container">
        <h5 class="title">Add New Company</h5>
        <div class="form-title">Company Name</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="corporateName" [ngClass]="{ 'is-invalid': submitted && companyControl.corporateName.errors }">
            <mat-hint *ngIf="submitted && companyControl.corporateName.errors">
                <mat-hint *ngIf="companyControl.corporateName.errors.required" class="hint">Company name is required</mat-hint>
                <mat-hint *ngIf="companyControl.corporateName.errors.pattern" class="hint">Invalid name</mat-hint>
                <mat-hint *ngIf="companyControl.corporateName.errors.maxlength" class="hint">Name exceeds 30 characters</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">Corporate Registration #</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="registrationNumber" [ngClass]="{ 'is-invalid': submitted && companyControl.registrationNumber.errors }">
            <mat-hint *ngIf="submitted && companyControl.registrationNumber.errors">
                <mat-hint *ngIf="companyControl.registrationNumber.errors.required" class="hint">Registration number is required</mat-hint>
                <mat-hint *ngIf="companyControl.registrationNumber.errors.pattern" class="hint">Invalid number</mat-hint>
                <mat-hint *ngIf="companyControl.registrationNumber.errors.maxlength" class="hint">Number exceeds 10 characters</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">Corporate Discount (%)</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="corporateDiscount" [ngClass]="{ 'is-invalid': submitted && companyControl.corporateDiscount.errors }">
            <mat-hint *ngIf="submitted && companyControl.corporateDiscount.errors">
                <mat-hint *ngIf="companyControl.corporateDiscount.errors.required" class="hint">Discount is required</mat-hint>
                <mat-hint *ngIf="companyControl.corporateDiscount.errors.pattern || companyControl.corporateDiscount.errors.min" class="hint">Invalid number</mat-hint>
                <mat-hint *ngIf="companyControl.corporateDiscount.errors.max" class="hint">No more than 30% discount</mat-hint>
            </mat-hint>
        </mat-form-field>
        <div class="button" (click)="submit(0)">Add</div>
    </form>
</div>

<div *ngIf="form === 1" class="container">
    <h5>Add New Coupon</h5>
</div>

<div *ngIf="form === 2"  [formGroup]="locationForm" class="container">
    <form [formGroup]="locationForm" class="form-container">
        <h5 class="title">Add New Branch Location</h5>
        <div class="form-title">Branch Name *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="locationName" [ngClass]="{ 'is-invalid': submitted && locationControl.locationName.errors }">
            <mat-hint *ngIf="submitted && locationControl.locationName.errors">
                <mat-hint *ngIf="locationControl.locationName.errors.required" class="hint">Branch name is required</mat-hint>
                <mat-hint *ngIf="locationControl.locationName.errors.pattern" class="hint">Invalid name</mat-hint>
                <mat-hint *ngIf="locationControl.locationName.errors.maxlength" class="hint">Name exceeds 30 characters</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">Street Address *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="street" [ngClass]="{ 'is-invalid': submitted && locationControl.street.errors }">
            <mat-hint *ngIf="submitted && locationControl.street.errors">
                <mat-hint *ngIf="locationControl.street.errors.required" class="hint">Street address is required</mat-hint>
                <mat-hint *ngIf="locationControl.street.errors.pattern" class="hint">Invalid street address</mat-hint>
                <mat-hint *ngIf="locationControl.street.errors.maxlength" class="hint">Street address exceeds 30 characters</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">City *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="city" [ngClass]="{ 'is-invalid': submitted && locationControl.city.errors }">
            <mat-hint *ngIf="submitted && locationControl.city.errors">
                <mat-hint *ngIf="locationControl.city.errors.required" class="hint">City is required</mat-hint>
                <mat-hint *ngIf="locationControl.city.errors.pattern" class="hint">Invalid city</mat-hint>
                <mat-hint *ngIf="locationControl.city.errors.maxlength" class="hint">City name exceeds 30 characters</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">State *</div>
        <select class="form-select state-select" formControlName="state">
            <option [value]="state" *ngFor="let state of states;">{{state}}</option>
        </select>
        <mat-hint *ngIf="submitted && locationControl.state.errors" >
            <mat-hint *ngIf="locationControl.state.errors.required" class="hint">State is required</mat-hint>
        </mat-hint>

        <div class="form-title">Zipcode *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="zipcode" [ngClass]="{ 'is-invalid': submitted && locationControl.zipcode.errors }">
            <mat-hint *ngIf="submitted && locationControl.zipcode.errors">
                <mat-hint *ngIf="locationControl.zipcode.errors.required" class="hint">Zipcode is required</mat-hint>
                <mat-hint *ngIf="locationControl.zipcode.errors.pattern" class="hint">Invalid zipcode</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">Phone Number *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && locationControl.phoneNumber.errors }">
            <mat-hint *ngIf="submitted && locationControl.phoneNumber.errors">
                <mat-hint *ngIf="locationControl.phoneNumber.errors.required" class="hint">Phone number is required</mat-hint>
                <mat-hint *ngIf="locationControl.phoneNumber.errors.pattern" class="hint">Invalid number</mat-hint>
            </mat-hint>
        </mat-form-field>

    </form>
    <div class="button" (click)="submit(2)">Add</div>
</div>

<div *ngIf="form === 3" class="container">
    <h5>Add New Corporate Customer</h5>
</div>

<div *ngIf="form === 4" class="container">
    <h5>Add New Vehicle</h5>
</div>

<div *ngIf="form === 5" class="container">
    <form [formGroup]="employeeForm" class="form-container">
        <h5 class="title">Add New Employee</h5>

        <div class="form-title">First Name *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && employeeControl.firstName.errors }">
            <mat-hint *ngIf="submitted && employeeControl.firstName.errors">
                <mat-hint *ngIf="employeeControl.firstName.errors.required" class="hint">First name is required</mat-hint>
                <mat-hint *ngIf="employeeControl.firstName.errors.pattern" class="hint">Invalid name</mat-hint>
                <mat-hint *ngIf="employeeControl.firstName.errors.maxlength" class="hint">Name exceeds 20 characters</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">Last Name *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && employeeControl.lastName.errors }">
            <mat-hint *ngIf="submitted && employeeControl.lastName.errors">
                <mat-hint *ngIf="employeeControl.lastName.errors.required" class="hint">Last name is required</mat-hint>
                <mat-hint *ngIf="employeeControl.lastName.errors.pattern" class="hint">Invalid name</mat-hint>
                <mat-hint *ngIf="employeeControl.lastName.errors.maxlength" class="hint">Name exceeds 20 characters</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">Email *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && employeeControl.email.errors }">
            <mat-hint *ngIf="submitted && employeeControl.email.errors">
                <mat-hint *ngIf="employeeControl.email.errors.required" class="hint">Email is required</mat-hint>
                <mat-hint *ngIf="employeeControl.email.errors.email" class="hint">Invalid email</mat-hint>
                <mat-hint *ngIf="employeeControl.email.errors.maxlength" class="hint">Name exceeds 30 characters</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">Temporary Password *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="password" [ngClass]="{ 'is-invalid': submitted && employeeControl.password.errors }">
            <mat-hint *ngIf="submitted && employeeControl.password.errors">
                <mat-hint *ngIf="employeeControl.password.errors.required" class="hint">Password is required</mat-hint>
                <mat-hint *ngIf="employeeControl.password.errors.pattern" class="hint">Invalid password</mat-hint>
                <mat-hint *ngIf="employeeControl.password.errors.minlength" class="hint">Password should be at least 6 characters</mat-hint>
                <mat-hint *ngIf="employeeControl.password.errors.maxlength" class="hint">Password exceeds 30 characters</mat-hint>
            </mat-hint>
        </mat-form-field>
    </form>
    <div class="button" (click)="submit(5)">Add</div>
</div>

<div *ngIf="form === 6" class="container">
    <form [formGroup]="vehicleClassForm" class="form-container">
        <h5 class="title">Add New Vehicle Class</h5>

        <div class="form-title">Vehicle Type *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="vehicleType" [ngClass]="{ 'is-invalid': submitted && vehicleClassControl.vehicleType.errors }">
            <mat-hint *ngIf="submitted && vehicleClassControl.vehicleType.errors">
                <mat-hint *ngIf="vehicleClassControl.vehicleType.errors.required" class="hint">Vehicle type is required</mat-hint>
                <mat-hint *ngIf="vehicleClassControl.vehicleType.errors.pattern" class="hint">Invalid vehicle type</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">Service Rate *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="serviceRate" [ngClass]="{ 'is-invalid': submitted && vehicleClassControl.serviceRate.errors }">
            <mat-hint *ngIf="submitted && vehicleClassControl.serviceRate.errors">
                <mat-hint *ngIf="vehicleClassControl.serviceRate.errors.required" class="hint">Service rate is required</mat-hint>
                <mat-hint *ngIf="vehicleClassControl.serviceRate.errors.pattern || vehicleClassControl.serviceRate.errors.min" class="hint">Invalid service rate</mat-hint>
            </mat-hint>
        </mat-form-field>

        <div class="form-title">Excess Mileage Fee *</div>
        <mat-form-field appearance="outline" class="form-field">
            <input class="form-input" matInput formControlName="excessMileageFee" [ngClass]="{ 'is-invalid': submitted && vehicleClassControl.excessMileageFee.errors }">
            <mat-hint *ngIf="submitted && vehicleClassControl.excessMileageFee.errors">
                <mat-hint *ngIf="vehicleClassControl.excessMileageFee.errors.required" class="hint">Excess mileage fee is required</mat-hint>
                <mat-hint *ngIf="vehicleClassControl.excessMileageFee.errors.pattern || vehicleClassControl.serviceRate.errors.min" class="hint">Invalid fee</mat-hint>
            </mat-hint>
        </mat-form-field>

    </form>
    <div class="button" (click)="submit(6)">Add</div>
</div>

