<div class="container">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="title">
      CREATE NEW CUSTOMER ACCOUNT
    </div>

    <div class="name">
      <div class="name-field">
        <div class="form-title">First Name</div>
        <mat-form-field appearance="outline" class="form-field">
          <input class="form-input" matInput formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          <mat-hint *ngIf="f.firstName.errors.required" class="hint">First Name is required</mat-hint>
          <mat-hint *ngIf="f.firstName.errors.pattern" class="hint">First Name is using illegal characters.</mat-hint>
        </mat-form-field>
      </div>

      <div class="name-field">
        <div class="form-title">Last Name</div>
        <mat-form-field appearance="outline" class="form-field">
          <input class="form-input" matInput formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
          <mat-hint *ngIf="f.lastName.errors.required" class="hint">Last Name is required</mat-hint>
          <mat-hint *ngIf="f.lastName.errors.pattern" class="hint">Last Name is using illegal characters.</mat-hint>
        </mat-form-field>
      </div>
<!--      TODO: add middle name form control.-->
      <div class="name-field">
        <div class="form-title">Middle Name</div>
        <mat-form-field appearance="outline" class="form-field">
          <input class="form-input" matInput formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
        </mat-form-field>
      </div>
    </div>






  </form>
</div>
