.toolbar {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: transparent;
    font-size: medium;
    user-select: none;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover {
    color: #940000;
}


