.toolbar {
    display: flex;
    justify-content: flex-end;
}

.home-button {
    background-color: transparent;
}

.home-button:hover {
    color: #940000;
}

.signin-button {
    background-color: transparent;
}

.signin-button:hover {
    color: #940000;
    background-color: transparent;
}

.sign-out {
    background-color: transparent;
}
.sign-out:hover{
    color: #940000;
}
