<div class="gadget-container">
    <div class="gadget-field" (click)="openLocSelectorPickup()">
        <mat-icon class="icon">location_on</mat-icon>
        <div class="field-text-empty" *ngIf="!pickUpLoc">Pick-up Location</div>
        <div class="field-text" *ngIf="pickUpLoc">{{displayBranchName(pickUpLoc)}}</div>
    </div>
    <div class="gadget-field" (click)="openLocSelectorDropOff()">
        <mat-icon class="icon">where_to_vote</mat-icon>
        <div class="field-text-empty" *ngIf="!dropOffLoc">Drop off Location</div>
        <div class="field-text" *ngIf="dropOffLoc">{{displayBranchName(dropOffLoc)}}</div>
    </div>
    <div class="line-break"></div>

    <mat-form-field style="width:1px;visibility:hidden;">
        <input matInput [matDatepicker]="picker" >
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="gadget-field" (click)="picker.open()">
        <mat-icon class="icon">calendar_month</mat-icon>
        <div class="field-text-empty" *ngIf="!pickUpDate">Pick-up Date</div>


    </div>
    <div class="gadget-field">
        <mat-icon class="icon">calendar_month</mat-icon>
        <div class="field-text-empty" *ngIf="!dropOffDate">Drop-off Date</div>
    </div>
    <div class="line-break"></div>
    <div class="gadget-field">
        <mat-icon class="icon">schedule</mat-icon>
        <div class="field-text-empty" *ngIf="!pickUpTime">Pick-up Time</div>
    </div>
    <div class="gadget-field">
        <mat-icon class="icon">schedule</mat-icon>
        <div class="field-text-empty" *ngIf="!dropOffTime">Drop-off Time</div>
    </div>
    <div class="line-break"></div>
    <div class="search-button">Search</div>

</div>
