<div class="gadget-container">
    <div class="gadget-field" (click)="openLocSelectorPickup()">
        <mat-icon class="icon">location_on</mat-icon>
        <div class="field-text-empty" *ngIf="!pickUpLoc">Pick-up Location</div>
        <div class="field-text" *ngIf="pickUpLoc">{{displayBranchName(pickUpLoc)}}</div>
    </div>
    <div class="gadget-field" (click)="openLocSelectorDropOff()">
        <mat-icon class="icon">where_to_vote</mat-icon>
        <div class="field-text-empty" *ngIf="!dropOffLoc">Drop off Location</div>
        <div class="field-text" *ngIf="dropOffLoc">{{displayBranchName(dropOffLoc)}}</div>
    </div>
    <div class="line-break"></div>

    <mat-form-field class="dummy-date-picker">
        <input matInput [matDatepicker]="picker1" [(ngModel)]="pickUpDate" [min]="minDate"
               (dateChange)="pickUpDateChange($event)">
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <div class="gadget-field" (click)="picker1.open()">
        <mat-icon class="icon">calendar_month</mat-icon>
        <div class="field-text-empty" *ngIf="!pickUpDate">Pick-up Date</div>
        <div class="field-text" *ngIf="pickUpDate">{{pickUpDate | date}}</div>
    </div>

    <mat-form-field class="dummy-date-picker">
        <input matInput [matDatepicker]="picker2" [(ngModel)]="dropOffDate" [min]="minDropOffDate">
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <div class="gadget-field" (click)="picker2.open()">
        <mat-icon class="icon">calendar_month</mat-icon>
        <div class="field-text-empty" *ngIf="!dropOffDate">Drop-off Date</div>
        <div class="field-text" *ngIf="dropOffDate">{{dropOffDate | date}}</div>
    </div>

    <div class="line-break"></div>

    <div ngbDropdown>
        <div class="time-gadget-field" ngbDropdownToggle>
            <mat-icon class="icon">schedule</mat-icon>
            <div class="field-text-empty" *ngIf="!pickUpTime">Pick-up Time</div>
            <div class="field-text" *ngIf="pickUpTime">{{displayTime(pickUpTime)}}</div>
            <div ngbDropdownMenu class="dropdown-menu">
                <button ngbDropdownItem *ngFor="let option of pickUpTimeOptions" class="time-option"
                        (click)="selectTime(option, true)">
                    {{displayTime(option)}}
                </button>
            </div>
        </div>
    </div>


    <div ngbDropdown>
        <div class="time-gadget-field" ngbDropdownToggle>
            <mat-icon class="icon">schedule</mat-icon>
            <div class="field-text-empty" *ngIf="!dropOffTime">Drop-off Time</div>
            <div class="field-text" *ngIf="dropOffTime">{{displayTime(dropOffTime)}}</div>
            <div ngbDropdownMenu class="dropdown-menu">
                <button ngbDropdownItem *ngFor="let option of dropOffTimeOptions" class="time-option"
                        (click)="selectTime(option, false)">
                    {{displayTime(option)}}
                </button>
            </div>
        </div>
    </div>

    <div class="line-break"></div>
    <div class="search-button">Search</div>

</div>
