<div class="sign-in-container">
  <div class="title">Sign In</div>
  <mat-dialog-content>
    <mat-form-field class="form-field">
      <input matInput placeholder="Username" required>
      <mat-error *ngIf="fieldControl.invalid">{{getError()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Password" required>
      <mat-error *ngIf="fieldControl.invalid">{{getError()}}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <button mat-button (click)="login()" class="login-button" [disableRipple]="true">Sign In</button>

<!--  TODO: Add register dialogue-->
  <span class="register">
    <div>Don't have an account yet?  <a routerLink="/register" class="register-text" (click)="onNoClick()">Register</a>   </div>
  </span>

</div>

