.sign-in-container {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
  font-family: 'Titillium Web', sans-serif;
}
.title {
  font-family: 'Titillium Web', sans-serif;
  font-size: larger;
  padding-bottom: 10px;
  align-self: center;
  padding-bottom: 10px;
}

.form-field{
  width: 85%;
  padding-left: 15px;
  padding-bottom: 10px;
}
.login-button{
  align-self: center;
  font-family: 'Titillium Web', sans-serif;
  user-select: none;
  font-weight: bolder;
  padding-bottom: 15px;
}
.login-button:hover{
  color: #126710;
}

/*.register{*/
/*  width: 35%;*/
/*  align-self: center;*/
/*  font-family: 'Titillium Web', sans-serif;*/
/*}*/
/*.register:hover{*/
/*  color: green;*/
/*}*/

.register {
  padding-top: 10px;
  padding-left: 7px;
  align-self: flex-start;
  font-size: smaller;
}

.register-text {
  color: darkgreen;
}
