<div class="container">
    <div class="sidenav">
        <h4>Account Dashboard</h4>
        <mat-divider></mat-divider>
        <div class="sidenav-item" (click)="switchPage(0)">Account Information</div>
        <div class="sidenav-item" (click)="switchPage(1)">Login Credentials</div>

    </div>

    <mat-divider class="divider" vertical></mat-divider>

    <div class="content">
        <!--ACCOUNT INFO-->
        <div *ngIf="page === 0" class="content">
            <div class="content-title">Account Information</div>
            <form [formGroup]="customerAccountForm"  class="account-info" *ngIf="!isEmployee">
                <div class="contact">
                    <div class="sub-title">CONTACT INFORMATION</div>
                    <div class="form-title">First Name *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input class="form-input" matInput formControlName="firstName" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.firstName.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.firstName.errors">
                            <mat-hint *ngIf="customerForm.firstName.errors.required" class="hint">First Name is required</mat-hint>
                            <mat-hint *ngIf="customerForm.firstName.errors.pattern" class="hint">Invalid Name</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <div class="form-title">Last Name *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input class="form-input" matInput formControlName="lastName" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.lastName.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.lastName.errors">
                            <mat-hint *ngIf="customerForm.lastName.errors.required" class="hint">Last Name is required</mat-hint>
                            <mat-hint *ngIf="customerForm.lastName.errors.pattern" class="hint">Invalid Name</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <div class="form-title">Middle Name</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input class="form-input" matInput formControlName="middleName" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.middleName.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.middleName.errors">
                            <mat-hint *ngIf="customerForm.middleName.errors.pattern" class="hint">Invalid Name</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <div class="form-title">Phone Number *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput type="text" formControlName="phoneNumber" class="form-input" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.phoneNumber.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.phoneNumber.errors" >
                            <mat-hint *ngIf="customerForm.phoneNumber.errors.required" class="hint">Phone number is required</mat-hint>
                            <mat-hint *ngIf="customerForm.phoneNumber.errors.pattern" class="hint">Invalid phone number</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <div class="form-title">Driver's License Number *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput type="text" formControlName="driverLicense" class="form-input" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.driverLicense.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.driverLicense.errors">
                            <mat-hint *ngIf="customerForm.driverLicense.errors.required" class="hint">Driver's license is required</mat-hint>
                            <mat-hint *ngIf="customerForm.driverLicense.errors.pattern" class="hint">Invalid driver's license</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <div class="form-title">Personal Insurance Company *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput type="text" formControlName="insuranceCompany" class="form-input" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.insuranceCompany.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.insuranceCompany.errors">
                            <mat-hint *ngIf="customerForm.insuranceCompany.errors.required" class="hint">Insurance company is required</mat-hint>
                            <mat-hint *ngIf="customerForm.insuranceCompany.errors.pattern" class="hint">Invalid insurance name</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <div class="form-title">Insurance policy number *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput type="text" formControlName="insuranceNumber" class="form-input" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.insuranceNumber.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.insuranceNumber.errors">
                            <mat-hint *ngIf="customerForm.insuranceNumber.errors.required" class="hint">Insurance number is required</mat-hint>
                            <mat-hint *ngIf="customerForm.insuranceNumber.errors.pattern" class="hint">Invalid insurance number</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                </div>


                <div class="address">
                    <div class="sub-title">ADDRESS</div>
                    <div class="form-title">Street Address *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput type="text" formControlName="street" class="form-input" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.street.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.street.errors" >
                            <mat-hint *ngIf="customerForm.street.errors.required" class="hint">Address is required</mat-hint>
                            <mat-hint *ngIf="customerForm.street.errors.pattern" class="hint">Contains invalid characters</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <div class="form-title">City *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput type="text" formControlName="city" class="form-input" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.city.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.city.errors" >
                            <mat-hint *ngIf="customerForm.city.errors.required" class="hint">City is required</mat-hint>
                            <mat-hint *ngIf="customerForm.city.errors.pattern" class="hint">Contains invalid characters</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <div class="form-title">State *</div>
                    <select class="form-select state-select" formControlName="state">
                        <option [value]="state" *ngFor="let state of states;">{{state}}</option>
                    </select>
                    <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.state.errors" >
                        <mat-hint *ngIf="customerForm.state.errors.required" class="hint">State is required</mat-hint>
                    </mat-hint>

                    <div class="form-title">Zipcode *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput type="text" formControlName="zipcode" class="form-input" [ngClass]="{ 'is-invalid': submittedCustomerAccountForm && customerForm.zipcode.errors }">
                        <mat-hint *ngIf="submittedCustomerAccountForm && customerForm.zipcode.errors" >
                            <mat-hint *ngIf="customerForm.zipcode.errors.required" class="hint">Zipcode is required</mat-hint>
                            <mat-hint *ngIf="customerForm.zipcode.errors.pattern" class="hint">Contains invalid characters</mat-hint>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </form>

            <form [formGroup]="employeeAccountForm"  class="account-info" *ngIf="isEmployee">
                <div class="contact">
                    <div class="sub-title">CONTACT INFORMATION</div>
                    <div class="form-title">First Name *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input class="form-input" matInput formControlName="firstName" [ngClass]="{ 'is-invalid': submittedEmployeeAccountForm && employeeForm.firstName.errors }">
                        <mat-hint *ngIf="submittedEmployeeAccountForm && employeeForm.firstName.errors">
                            <mat-hint *ngIf="employeeForm.firstName.errors.required" class="hint">First Name is required</mat-hint>
                            <mat-hint *ngIf="employeeForm.firstName.errors.pattern" class="hint">Invalid Name</mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <div class="form-title">Last Name *</div>
                    <mat-form-field appearance="outline" class="form-field">
                        <input class="form-input" matInput formControlName="lastName" [ngClass]="{ 'is-invalid': submittedEmployeeAccountForm && employeeForm.lastName.errors }">
                        <mat-hint *ngIf="submittedEmployeeAccountForm && employeeForm.lastName.errors">
                            <mat-hint *ngIf="employeeForm.lastName.errors.required" class="hint">Last Name is required</mat-hint>
                            <mat-hint *ngIf="employeeForm.lastName.errors.pattern" class="hint">Invalid Name</mat-hint>
                        </mat-hint>
                    </mat-form-field>
                </div>

            </form>


            <div class="button" (click)="updateAccountInfo()">Update</div>
        </div>

        <!--SECURITY-->
        <div *ngIf="page === 1" class="content">
            <div class="content-title">Login Credentials</div>
            <form [formGroup]="credentials" class="credential" >
                <div class="form-title">Current Password</div>
                <mat-form-field appearance="outline" class="form-field credential-form-field">
                    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="currentPassword" class="form-input" [ngClass]="{ 'is-invalid': submittedUpdateCredentialForm && credentialForm.currentPassword.errors}">
                    <mat-icon matSuffix (click)="hide1 = !hide1" class="form-visible-toggle" >{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint *ngIf="submittedUpdateCredentialForm && credentialForm.currentPassword.errors" >
                        <mat-hint *ngIf="credentialForm.currentPassword.errors.required" class="hint">Password is required</mat-hint>
                        <mat-hint *ngIf="credentialForm.currentPassword.errors.pattern" class="hint">Contains invalid characters</mat-hint>
                        <mat-hint *ngIf="credentialForm.currentPassword.errors.minlength" class="hint">Password should be at least 6 characters</mat-hint>
                        <mat-hint *ngIf="credentialForm.currentPassword.errors.maxlength" class="hint">Password should have maximum of 30 characters</mat-hint>
                    </mat-hint>
                </mat-form-field>

                <div class="form-title">New Password</div>
                <mat-form-field appearance="outline" class="form-field credential-form-field">
                    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="newPassword" class="form-input" [ngClass]="{ 'is-invalid': submittedUpdateCredentialForm && credentialForm.newPassword.errors}">
                    <mat-icon matSuffix (click)="hide2 = !hide2" class="form-visible-toggle" >{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint *ngIf="submittedUpdateCredentialForm && credentialForm.newPassword.errors" >
                        <mat-hint *ngIf="credentialForm.newPassword.errors.required" class="hint">Password is required</mat-hint>
                        <mat-hint *ngIf="credentialForm.newPassword.errors.pattern" class="hint">Contains invalid characters</mat-hint>
                        <mat-hint *ngIf="credentialForm.newPassword.errors.minlength" class="hint">Password should be at least 6 characters</mat-hint>
                        <mat-hint *ngIf="credentialForm.newPassword.errors.maxlength" class="hint">Password should have maximum of 30 characters</mat-hint>
                    </mat-hint>
                </mat-form-field>

            </form>
            <div class="button update-password-button" (click)="updatePassword()">Change Password</div>
        </div>







    </div>


</div>
