.search-toolbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 23px;
    justify-content: center;
    min-width: 750px;
    user-select: none;
}
.select-location{
    flex-grow: 9999;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    height: 55px;
    flex-basis: 200px;
    margin: 0px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}
.select-date{
    flex-grow: 1000;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    height: 55px;
    flex-basis: 100px;
    margin: 0px 5px 15px 5px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.select-time{
    flex-grow: 1000;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    height: 55px;
    flex-basis: 110px;
    margin: 0px 5px 10px 5px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}
.time-dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.08) 2px 2px 18px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    min-width: 18px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.time-option{
    transition: 0.1s;
}
.time-option:hover{
    color: #00a800;
    background-color: white;
    transition: 0.1s;
}
.ngbDropDownAnch{
    display: flex;
    flex-direction: column;

}
.ngbDropDownAnch:after{
    display: none;
}
.dummy-date-picker{
    width: 1px;
    visibility: hidden;
    margin-top: 12px;
}
.select-hover:hover{
    border: 1px solid #00a800 ;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 14px;
}
.search-title{
    margin-left: 4px;
    margin-top: 2px;
    font-size: 11px;
    color: rgba(0,0,0,75%);
    align-self: flex-start;
}
.search-text{
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
}
.search-button{
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    height: 55px;
    width: 100px;
    margin: 0px 5px 10px 5px;
    flex-basis: 100px;
    flex-grow: 1;

    background-color:  #00a800 ;
    color: white;
    padding-top: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.search-button:hover{
    color: #00a800;
    background-color: white;
    transition: 0.2s;
    box-shadow: rgba(0, 168, 0, 0.2) 2px 2px 18px;
}
.sort-toolbar{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 27px;
}
.sort-button{
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    /*min-width: 130px;*/
    height: 45px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;

    display: flex;
    flex-direction: row;
    font-size: 15px;
}
.sort-button:hover{
    border: 1px solid #00a800 ;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 18px;
}
.sort-button::after {
    display:none;
}
.sort-arrow-icon{
    font-size: 18px;
    padding-top: 4px;
}
.sort-dropdown-button{
    font-size: 14px;
}
.sort-dropdown-button:hover{
    color: #00a800;
    background-color: white;
    transition: 0.2s;
}

.search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
    margin-left: 25px;
    margin-right: 25px;
}

.filter-gadget {
    margin-top: 10px;
    min-width: 230px;
    min-height: 170px;
    border: transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 168, 0, 0.11) 2px 2px 18px;
    text-align: center;
    align-self: flex-start;

    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
}

.filter-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-weight: bold;
}
.filter-entry{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
}

.filter-checkbox{
    padding-right: 60px;
}

.filter-entry-price{
    padding-top: 2px;
    max-width: 90px;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vehicle-list-container{
    margin: 8px 0px 80px 30px;
    align-self: flex-end;
}
