.search-toolbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 17px;
    justify-content: center;
    min-width: 750px;
    user-select: none;
}
.select-location{
    flex-grow: 9999;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    height: 55px;
    flex-basis: 200px;
    margin: 0px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 6px;
}
.select-time{
    flex-grow: 5555;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    height: 55px;
    flex-basis: 150px;
    margin: 0px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 6px;
}
.search-title{
    margin-left: 4px;
    margin-top: 2px;
    font-size: 13px;
    color: rgba(0,0,0,80%);
    align-self: flex-start;
}
.search-text{
    font-size: 17px;
    overflow: hidden;
    padding-left: 6px;
    padding-right: 6px;
}
.search-button{
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    height: 55px;
    width: 100px;
    margin: 0px 5px 10px 5px;
    flex-basis: 100px;
    flex-grow: 1;

    background-color:  #00a800 ;
    color: white;
    padding-top: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.search-button:hover{
    color: #00a800;
    background-color: white;
    transition: 0.2s;
    box-shadow: rgba(0, 168, 0, 0.2) 2px 2px 18px;
}
.search-container{

}
.sort-field{

}
